body{
    background-color: beige;
}
.module_title{
    text-align: center;
    padding-bottom: 25px;
    padding-top: 10px;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.container_table{
    background-color: #fff;
}

.settings_grid{
    background-color: rgb(230, 230, 230);
    padding: 15px;
    color: rgba(134, 119, 119, 0.745);
    border: 1px solid rgba(96, 64, 64, 0.314);
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.3);
    border-radius: 18px;
}
.container{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 40px;
}

.settings_grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container_table{
    display: grid;
    width: fit-content;
    border: 1px solid rgba(96, 64, 64, 0.314);
    height: 80vh;
    width: 80vh;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.3);
    padding: 1px;   
}

.grid-element{
   display: flex;
}




